<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./assets/index.css">
</head>

<body>
<div class="content">
  <p>{{message}}</p>
  <input
    type="button"
    value="Back"
    onclick="window.history.back();"
  >
</div>
</body>
</html>